.slider{
    width: 340px;
    margin: 0 10px;
    display: inline-block;
}

.rc-slider-track{
    background: transparent;

}

.rc-slider-rail{
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:hover,
.rc-slider-handle:active,
.rc-slider-handle:focus{
    background-color: green;
    outline: none;
    border:2px solid green;
    box-shadow: none;
    width: 13px;
    height: 13px;
    margin-left: -7px;
    margin-top: -3px;
}

.Navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6vh;
    background-color: white;
}

.logo{
    margin-right: 15px;
    padding: 0 13px;
    font-size: 22px;
    background-color: #eceff1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.logo a{
    text-decoration: none;
    color: black;
}

.select-container{
    margin-left: auto;
    margin-right: 1rem;
}

@media (max-width:650px){
    .logo{
        display: none;
    }
    .slider-container,.slider{
        display: block;
        width: 100px;
        margin-left: 0px;
        margin-top: 0px;
        background-color: white;
    }
    .slider-container{
        margin-left: 20px;
    }
}